*{
    box-sizing: border-box;
}
body{
    background-color: #D9C7C5;
}
main > h1{
    text-align: center;
    font-size: xxx-large;   
}
.cartCont{
    margin: 0 50px;
    padding: 2% 1%;
    background-color: white;
    border-radius: 15px;
    border: 5px #BF6A4B dashed;
    text-align: center;
}
.productCont{
    width: 100%;
    margin: 1% auto;
    border-radius: 15px;
}
.productTitles > h2{
    display: inline-block;
    margin: auto 5px;
    padding: 15px 0;
    border-bottom:  2px solid #BF6A4B;
}
.productTitles > .descripcion{
    width: 650px;
}
.productTitles > .producto{
    width: 125px;
}
.productTitles > .nombre{
    width: 102px;
}
.productTitles > .fechaEntrega{
    width: 195px;
}
.product, .productInfo{
    display: inline-block;
}
.productInfo > .product, p{
    display: inline-block;
    margin: auto 5px;
    background-color: #bf6a4b7f;
    border-radius: 15px;
}
.productInfo > p{
    padding: 50px 20px;
}
.productInfo > .product{
    font-size: 80px;
    padding: 18px 14px;
    background-color: #bf6a4b7f;
    position: relative;
    bottom: -23.5px;
}
.infoProduct{
    width: 650px;
    text-align: center;
}
.publicity{
    height: 150px;
    width: 90%;
    margin: 3% auto;
    background-image: url(../img/lipstick-4743984_1920.jpg);
    border: 2px solid grey;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -400px;
}
